<div>
    <form [formGroup]="voucherForm" (ngSubmit)="save()">
        <div class="card m-3">
            <div class="card-header">
                Voucher Info With Reactive Forms
            </div>
            <div class="card-body">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="کد سند" formControlName="code">
                    <error-message [control]="voucherForm.controls.code"></error-message>
                    <!-- <mat-error *ngIf=" voucherForm.controls.code.hasError( 'required')">
                        نام محصول <strong>اجباری است</strong>
                    </mat-error>
                    <mat-error *ngIf="voucherForm.controls.code.hasError( 'minlength')">
                        حداقل 3 کاراکتر
                    </mat-error> -->
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="تکرار کد سند" formControlName="confirmCode">
                    <error-message [control]="voucherForm.controls.confirmCode"></error-message>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="عنوان" formControlName="title">
                    <error-message [control]="voucherForm.controls.title"></error-message>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="توضیحات سند" formControlName="description">
                </mat-form-field>
                <div class="form-group">
                    <button (click)="addNewRow()">افزودن ردیف سند</button>

                    <voucher-detail-info-with-reactive [info]="item" *ngFor="let item of voucherForm.controls.details.controls"></voucher-detail-info-with-reactive>
                </div>
                <button type="submit" [disabled]="!voucherForm.valid">ذخیره</button>
                <hr />
                <p>
                    {{voucherForm.value | json}}
                </p>
                <p>
                    Your form status is : {{ voucherForm.status }}
                </p>
                <p>
                    Touch form : {{ voucherForm.touched }}
                </p>
            </div>
        </div>
    </form>
</div>