@import "../node_modules/@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "../node_modules/@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css";
@font-face {
    font-family: Roboto;
    src: url('assets/fonts/IRANSans-web.woff') format('woff');
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, tahoma;
    font-size: 12px;
    direction: rtl;
    text-align: right;
}

h1 {
    font-size: 15px;
}

.mat-nested-tree-node,
.mat-tree-node {
    font-size: 12px;
}

.mat-form-field {
    line-height: 1.4 !important;
}

.example-full-width {
    padding-left: 2rem;
}

.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
    font-size: 12px;
}

.ag-rtl {
    direction: rtl;
}

.ag-ltr .ag-selection-checkbox {
    padding-right: 4px;
}

.ag-rtl .ag-selection-checkbox {
    padding-left: 4px;
}